{% extends 'base.html'%}
{% import 'macros.html' as macro %}
<!-- Styles block -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
{% block content %}

<!-- News sources -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <center>
            <h1>{{ title }}</h1>
        </center>
        
    </div>
    <h2>
        <center>NEWS SOURCES</center>
    </h2>
</div>
<ul>
    {{ macro.displaySources(sources)}}
</ul>
{% endblock%}